<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Admin</title>
<link rel="stylesheet" href="adminhome.css">
</head>
<body>
<h3>MovieFlix</h3>

	<h1>Welcome Admin</h1>
	
	<h4>Dashboard</h4>
	<form action="viewuser" method="get">
	<input type="submit" value="View Users">
	</form>
	
	<br><br>
	
	<form action="map-updateuserform" method="get">
	<input type="submit" value="Update User"></form>
	
	<br><br>
	
	<form action="map-deleteuserform" method="get">
	<input type="submit" value="Delete User">
	</form>
	
	<br><br>
	
	<form action="map-addmovie"method="get">
	<input type="submit" value="Add Movies">
	</form>
	
	<br><br>
	
	<form action="viewmovie" method="get">
	<input type="submit" value="View Movies">
	</form>
	
	<br><br>
	
	<form action="logout" method="get">
	<input  type="submit" value="Log Out">
	</form>
	
</body>
</html>