<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>MovieFlix login page</title>
 <link rel="stylesheet" href="login.css">

</head>
<body>
	<h2>MovieFlix</h2>
	<form action="login" method="post">
		<h1>Kindly Login</h1>
		
		<label>Email ID: </label>
    	<input  type="email" placeholder="Enter the email" name="email">
    	<br><br>
    	<label>Password: </label>
    	<input type="password" placeholder="Enter the password" name="password">
        <br><br>
        <input type="submit" value="Sign In">
	</form>
</body>
</html>